body {
    font-family: sans-serif;
    margin: 10px;
    background-image: url(pexels-wendy-wei-1555900.jpg);
}

/* Header */

header {
    display: flex;
    min-height: 70px;
    background-color: rgba(0, 0, 0, 70%);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nombre {
    font-size: 20px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: grey;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}

/* Menu */

.menu {
    background-color: rgba(0, 0, 0, 70%);
    color: white;
}

.titulo-bienvenida {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    padding: 30px;
}

.contenedor-imagen {
    display: flex;
}

.texto-bienvenida {
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 200px;
    font-size: 25px;
}

.foto-personal {
    height: 300px;   
    margin-left: 200px;
    margin-top: 75px;
    border-radius: 20%;
    border: 5px solid grey;
    margin-bottom: 75px;
}

.linea-footer {
    margin-top: 50px;
}

/*Footer*/

.footer {
    background-color: rgba(0, 0, 0, 70%);
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-git {
    margin-left: 250px;
}

.logo-linkedin {
    margin-right: 250px;
}
